.modal {
    font-size: 3rem;
    width: 80vmin;
    background: #F9D6BF;
}
.modal-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    width: 100%;
    height: 100%;
    border: None;
    /* font-size: inherit; */
    font: inherit;
    /* font-style: inherit; */
}
.modal > .header {
    width: 100%;
    border-bottom: 1px solid gray;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.modal > .content {
    width: 100%;
    padding: 10px 5px;
    text-align: center;
    color: "white";
    white-space: pre-wrap;
}
.modal > .actions {
    width: 100%;
    padding: 10px 5px;
    margin: auto;
    text-align: center;
}
.modal > .close {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: -10px;
    top: -10px;
    font-size: 4rem;
    background: #ffffff;
    border-radius: 18px;
    border: 1px solid #cfcece;
}